<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="defaultP" connectionString="Server=PHILIP-LAPTOP;Database=EDCBolig;Trusted_Connection=True;"/>
		<add name="defaultA" connectionString="Server=DESKTOP-KOSIC6I;Database=EDCBolig;Trusted_Connection=True;"/>
		<add name="defaultB" connectionString="Server=BENJAMIN-PC;Database=EDCBolig;Trusted_Connection=True;"/>
		<add name="defaultM" connectionString="Server=MARK;Database=EDCBolig;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>